@import "tailwindcss";

* {
  scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #3a3a3a;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

button, a, [role="button"] {
  cursor: pointer;
}

.no-scrollbar {
  scrollbar-width: none !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none !important;
}
